{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{'Home page'|trans}}{% endblock %}

{% block body %}

<h2>{{'Welcome Home'|trans}}</h2>
<p>{{'Select any section in left menu'|trans}}</p>
{% endblock %}
