{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home page{% endblock %}

{% block body %}

<ul>
    <li>
        <a href="{{ path('adversaries-request')}}">Search adversaries</a>
    </li>
    <li>
        <a href="{{ path('crystal-request')}}">Search crystals</a>
    </li>
</ul>
{% endblock %}
