<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/tests/Entity" />
        <option value="$PROJECT_DIR$/tests/Command" />
        <option value="$PROJECT_DIR$/tests/Controller" />
        <option value="$PROJECT_DIR$/tests/Unit" />
        <option value="$PROJECT_DIR$/tests/Functional" />
      </list>
    </option>
  </component>
</project>