{# TODO #}

<ul>
  <li>
      <a href="{{ path('adversaries-request')}}">Search adversaries</a>
  </li>
  <li>
      <a href="{{ path('crystal-request')}}">Search crystals</a>
  </li>
  <li>
      <a href="{{ path('shard-request')}}">Search maiden shard</a>
  </li>
  <li>
      <a href="{{ path('stages-request')}}">Search stage cost</a>
  </li>
</ul>
